<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;

    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #1c1c1e;
    font-weight: 600;
    align-items: center;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="160"
    alt="Angular Logo"
    src="https://egghead.io/_next/image?url=https%3A%2F%2Fd2eip9sf3oo6c2.cloudfront.net%2Fplaylists%2Fsquare_covers%2F000%2F432%2F512%2Fsquare_480%2FBuild_Async.png&w=1080&q=100"
  />
  <img
    width="160"
    alt="Angular Logo"
    src="https://egghead.io/_next/image?url=https%3A%2F%2Fd2eip9sf3oo6c2.cloudfront.net%2Fplaylists%2Fsquare_covers%2F000%2F418%2F892%2Fsquare_480%2FEGH_IntroCloudFlareWorkers_Final.png&w=1080&q=100"
  />
  <img
    width="160"
    alt="Angular Logo"
    src="https://egghead.io/_next/image?url=https%3A%2F%2Fd2eip9sf3oo6c2.cloudfront.net%2Fplaylists%2Fsquare_covers%2F000%2F432%2F616%2Fsquare_480%2FImmuateableImmer_Final.png&w=1080&q=100"
  />
  <img
    width="160"
    alt="Angular Logo"
    src="https://egghead.io/_next/image?url=https%3A%2F%2Fd2eip9sf3oo6c2.cloudfront.net%2Fplaylists%2Fsquare_covers%2F000%2F432%2F472%2Fsquare_480%2FIntroxState_1000.png&w=1080&q=100"
  />
  <img
    width="160"
    alt="Angular Logo"
    src="https://egghead.io/_next/image?url=https%3A%2F%2Fd2eip9sf3oo6c2.cloudfront.net%2Fplaylists%2Fsquare_covers%2F000%2F411%2F838%2Fsquare_480%2FEGH_DynamoDB.png&w=1080&q=100"
  />
  <img
    width="160"
    alt="Angular Logo"
    src="https://egghead.io/_next/image?url=https%3A%2F%2Fd2eip9sf3oo6c2.cloudfront.net%2Fplaylists%2Fsquare_covers%2F000%2F432%2F617%2Fsquare_480%2FReact_Suspense_Final.png&w=1080&q=100"
  />
  <img
    width="160"
    alt="Angular Logo"
    src="https://egghead.io/_next/image?url=https%3A%2F%2Fd2eip9sf3oo6c2.cloudfront.net%2Fplaylists%2Fsquare_covers%2F000%2F410%2F100%2Fsquare_480%2FHeadless-Wordpress.png&w=1080&q=100"
  />
  <img
    width="160"
    alt="Angular Logo"
    src="https://egghead.io/_next/image?url=https%3A%2F%2Fd2eip9sf3oo6c2.cloudfront.net%2Fplaylists%2Fsquare_covers%2F000%2F425%2F621%2Fsquare_480%2Fdeveloper_blog_1000_2x.png&w=1080&q=100"
  />
  <img
    width="160"
    alt="Angular Logo"
    src="https://egghead.io/_next/image?url=https%3A%2F%2Fd2eip9sf3oo6c2.cloudfront.net%2Fplaylists%2Fsquare_covers%2F000%2F429%2F801%2Fsquare_480%2Frust-garden-cli_424_2x.png&w=1080&q=100"
  />
</div>

<div class="card-container">
  <app-access></app-access>
</div>

<router-outlet></router-outlet>
